.container-small-card > a{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.small-card-picture > img {
  height: 120px;
  width: 200px;
  min-width: 160px;
  margin-right: 20px;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

hr {
  border-color: rgb(26, 26, 26);
  margin-top: 25px;
  margin-bottom: 30px;
  opacity: 20%;
}


