<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles-main">
    <app-big-card
    photoCover="https://i.imgur.com/u6iw3EU.png"
    cardTitle="Confira a nova personagem: Acates Horizonte Infinito"
    cardDescription="A nova personagem 4 estrelas é uma tece almas de luz com foco em limpar os debuffs do time e transformá-los em buffs,
    mecanica essa que nunca havia sido utilizada anteriormente... Ver Mais"
    Id="1">
  </app-big-card>
  </div>
  <div class="articles-secondary">
    <app-small-card
      photoCover="https://i.imgur.com/CpH79VT.png"
      cardTitle="Quem pegar na rotação do dia 24/08?"
      Id="2">
    </app-small-card>
    <app-small-card
      photoCover="https://i.imgur.com/MegtWgI.png"
      cardTitle="Rede Crystallis recruta membros competitivos"
      Id="3">
    </app-small-card>
    <app-small-card
      photoCover="https://i.imgur.com/ARGj5yK.png"
      cardTitle="Amethystus mais uma vez fora do top 100"
      Id="4">
    </app-small-card>
  </div>
</div>
